<__trans_section component="groongasearch">
    <mtapp:setting
        id="groonga-search-database-path-input"
        label="<__trans phrase="Database Path">"
        show_hint="1"
        hint="<__trans phrase='Relative path from [_1] or absolute path starts with /.' params='<mt:var name="base_path">'>">
        <input type="text" name="groonga_search_database_path" id="groonga-search-database-path-input" value="<mt:var name='groonga_search_database_path' escape='html'>" />
    </mtapp:setting>
</__trans_section>
